* {
    margin: 0px;
    padding: 0px;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

.banner {
    background: url('../images/banner/banner1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 888px; 

}

.container {
    text-align: right;
    position: relative;
    width: 525px;
    left: 50%;
    top: 30%;
}

.heading {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

.paragraph {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.btn {
    width: 160px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background: #F15B22;
    margin-top: 32px;
}